{% extends "base.html" %}

{% block css %}
    {% include "retrieval/template_css.html" %}
{% endblock %}

{% block content %}

<!--div class="sidenav">
  <a href="#">Collections </a>
  
  {% for name in collections %}
  <a href="{% url 'upload_query' name.0 %}">{{name.1}}</a>
  {% endfor %}
</div-->

<!--div class="main"-->
<section id="about">
  <div class="col-lg-12">
                
    <h3 class="text-center"><a href="{% url 'home' %}">WORDSPOTTING DEMO FOR INDIAN LANGUAGES</a></h3><br>
    <div class="row">
    <div class="col-sm-6 well well-sm">
      <h6>Information about the collection.</h6>
      <p>Chosen Collection: {{Cname}}</p>
      <p>
        {{desc | safe}}<br>
        {% if url %}
        More information about this collection can be found at this <a href="{{url}}">link</a> 
        {% endif %}
      </p>
    </div>
    <div class="col-sm-6 well well-sm">
      <h6>Sample Queries</h6>
      <p>Chosen Collection: {{cname}}</p>
      <p>
        {{desc | safe}}<br>
        {% if url %}
        More information about this collection can be found at this <a href="{{url}}">link</a> 
        {% endif %}
      </p>
    </div></div>
    <div class="row">
    <h4>Instructions to use the demo application</h4>
        <ul class="list-group"> 
          <li class="list-group-item">The system takes two types of queries for retrieving document images. Different possible queries are desribed below.
            <ul>
              <li>Query in the form of text. Multiple words can also given at the same time. A virtual keyboard on clicking inside the textbox area. Use the keyboard to enter a query. Example query word for the above collection is നിങ്ങൾ.</li>
              <li>Query in the form of an image containing the word. Click on the upload button to choose a word image from your file system. Example query image for Mohanlal blog collection, <img src="/media/demo/5.jpg"></li>
            </ul>
          </li>
          <li class="list-group-item">After choosing a query, click on the search button to search for the query. You will be lead to page displaying the ranked results. Click on any of the word images to open the whole document.</li>
          <li class="list-group-item">The matched word will be highlighted in the opened document.</li>
        </ul>

    <p>Web Demo for the retrieval system: <a href="{% url 'upload_query' cname %}">Click here</a></p> 
  </div>         
  </div> 
</section>
<!--/div-->

{% endblock%}

{% block scripts %}
{% include "retrieval/template_scripts.html" %}
{% endblock %}