{% extends "base.html" %}

{% block css %}
    {% include "retrieval/template_css.html" %}
{% endblock %}

{% block content %}

<section id="about">
      <br><br>
        <div class="container">
                <div class="col-lg-4 col-lg-offset-2 text-center">
					<form enctype="multipart/form-data" method="post">
						<div class="row control-group">
                            <div class="form-group col-xs-12 label-form-group controls">
					    		{% csrf_token %}
                                {{form.as_p}}
                            </div>
                        </div>
					    <input type="submit" value="Search for the query" />
					</form>
				</div>
        </div>
</section>

{% endblock %}

{% block scripts %}
{% include "retrieval/template_scripts.html" %}
{% endblock %}