{% extends "base.html" %}

{% block css %}
    {% include "retrieval/template_css.html" %}
    <link rel="stylesheet" href="static/css/purejscarousel.css">
    <script src="static/js/carousel.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

{% endblock %}

{% block content %}

<section id="about">
        <div class="container">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>WORDSPOTTING DEMO FOR INDIAN LANGUAGES</h3><br><br>
                    <p style="float:right;"><a href={% url 'home' %}> Search in other collections </a></p>
                    <br><br>
                    <div class="row">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#imsearch">Image Search</a></li>
                      <li><a data-toggle="tab" href="#txtsearch">Text Search</a></li>
                    </ul><br><br>
                  </div>

                    <div class="tab-content">
                      <div id="imsearch" class="tab-pane fade in active">
					               <form enctype="multipart/form-data" method="post">
      					          <div class="row">
                                <div class="form-group col-xs-12 label-form-group controls">
      				    		             {% csrf_token %}
                                    <table class="form-group label-form-group controls">
                                    {{form1.as_table}}
                                    </table>
                                </div>
                                <input type="submit" value="Search for the query" />
                            </div>    
      				           </form>
                      </div>
                      <div id="txtsearch" class="tab-pane fade">
                         <form enctype="multipart/form-data" method="post">
                          <div class="row">
                                <div class="form-group col-xs-12 label-form-group controls">
                                   {% csrf_token %}
                                    <table class="form-group label-form-group controls">
                                    {{form2.as_table}}
                                    </table>
                                </div>
                                <input type="submit" value="Search for the query" />
                            </div>    
                         </form>
                      </div>
                    </div>
                      <br><br>


                    <hr>
                    <!--p class="small">Below given are a few example query images. Click on the images to get search results.</p>
                    <table border="0" width="100%" ID="Table1" style="margin: 0px;">
                    <tr>{% for path, id in dpaths%}
                    {% if forloop.counter0 < 3 %}
                    <td><a href={% url 'demo_results' id %}><img src="{{path}}" style="padding:1px;border:1px solid #021a40;"></a></td>
                    {% endif %}
                    {% endfor %}</tr>

                    <tr>{% for path, id in dpaths%}
                    {% if forloop.counter0 > 3 and forloop.counter0 < 7 %}
                    <td><a href={% url 'demo_results' id %}><img src="{{path}}" style="padding:1px;border:1px solid #021a40;"></a></td>
                    {% endif %}
                    {% endfor %}</tr>
                    </table-->
				</div>
        </div>
</section>

{% endblock %}

{% block scripts %}
{% include "retrieval/template_scripts.html" %}
{% endblock %}