<meta charset="utf-8"/>
<li class="char">^</li>
<li class="char">1</li>
<li class="char">2</li>
<li class="char">3</li>
<li class="char">4</li>
<li class="char">5</li>
<li class="char">6</li>
<li class="char">7</li>
<li class="char">8</li>
<li class="char">9</li>
<li class="char">0</li>
<li class="char">-</li>
<li class="char">_</li>
<li class="backspace last">Bksp</li>
<li class="tab">Tab</li>
       
<li class="char">\u0D4C</li>
<li class="char">\u0D48</li>
<li class="char">\u0D3E</li>
<li class="char">\u0D40</li>
<li class="char">\u0D42</li>
<li class="char">\u0D2C</li>
<li class="char">\u0D39</li>
<li class="char">\u0D17</li>
<li class="char">\u0D26</li>
<li class="char">\u0D1C </li>
<li class="char"> \u0D21</li>
<li class="char">\u0D4A</li>
<li class="char">\u0D43</li>

<li class="capslock">c.lock</li>
<li class="char">a</li>
<li class="char">s</li>
<li class="char">d</li>
<li class="char">f</li>
<li class="char">g</li>
<li class="char">h</li>
<li class="char">j</li>
<li class="char">k</li>
<li class="char">l</li>
<li class="char">ş</li>  
<li class="char">i</li>

<li class="return last">return</li>
<li class="char at">@</li>
<li class="char">`</li>
<li class="char">z</li>
<li class="char">x</li>
<li class="char">c</li>
<li class="char">v</li>
<li class="char">b</li>
<li class="char">n</li>
<li class="char">m</li>
<li class="char">ö</li>
<li class="char">ç</li>
<li class="char">?</li>
<li class="char">_</li>
<li class="char">=</li>
<li class="char">|</li> 
<li class="space"><span class="glyphicon glyphicon-resize-horizontal"></span></li>