	<meta charset="utf-8"/>
<li class="char">ാ</li>
<li class="char">ി</li>
<li class="char">ീ</li>
<li class="char">ു</li>
<li class="char">ൂ</li>
<li class="char">ൃ</li>
<li class="char">ൄ </li>
<li class="char">ൢ</li>
<li class="char">ൣ</li>
<li class="char">െ</li>
<li class="char">േ </li>
<li class="char">ൈ</li>
<li class="char">ൊ</li>
<li class="char">ോ</li>
<li class="char">ൌ</li>
<li class="char">ം</li>
<li class="char">ഃ</li>
<li class="char">്</li>
<li class="char">ഽ</li>
<li class="char">്</li>
<li class="char">അ</li>
<li class="char">ആ</li>
<li class="char">ഇ</li>
<li class="char">ഈ</li>
<li class="char">ഉ</li>
<li class="char">ഊ</li>
<li class="char">ഋ</li>
<li class="char">ൠ</li>
<li class="char">ഌ</li>
<li class="char">ൡ</li>
<li class="char">എ</li>
<li class="char">ഏ</li>
<li class="char">ഐ</li>
<li class="char">ഒ</li>
<li class="char">ഓ</li>
<li class="char">ഔ</li>


<li class="char">ക</li>
<li class="char">ഖ</li>
<li class="char">ഗ</li>
<li class="char">ഘ</li>
<li class="char">ങ</li>

<li class="char">ച</li>
<li class="char">ഛ</li>
<li class="char">ജ</li>
<li class="char">ഝ</li>
<li class="char">ഞ</li>

<li class="char">ട</li>
<li class="char">ഠ</li>
<li class="char">ഡ</li>
<li class="char">ഢ</li>
<li class="char">ണ </li>

<li class="char">ത</li>
<li class="char">ഥ</li>
<li class="char">ദ</li>
<li class="char">ധ</li>
<li class="char">ന</li>

<li class="char">പ</li>
<li class="char">ഫ</li>
<li class="char">ബ</li>
<li class="char">ഭ</li>
<li class="char">മ</li>

<li class="char">യ</li>
<li class="char">ര</li>
<li class="char">ല</li>
<li class="char">ള</li>
<li class="char">വ</li>
<li class="char">ഹ</li>
<li class="char">ശ</li>
<li class="char">ഷ</li>
<li class="char">സ</li>
<li class="char">റ</li>
<li class="char">ഴ</li>

<li class="backspace last">Bksp</li>

<li class="space"><span class="glyphicon glyphicon-resize-horizontal"></span></li>

<br><br>